.container {
  width: 100%;
}
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: black 0px 5px 25px;
  border: solid rgba(255, 255, 255, 0.1) 1px;
  z-index: 100;
  overflow: hidden;
}

.Title {
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    to right,
    #72aaff,
    #f268ff,
    #fb2cff,
    #68fcff,
    #72aaff
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2s linear infinite;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.Icons {
  height: 50px;
  width: 50px;
  display: inline;
  align-content: center;
  align-items: center;
}

.WorkIcons {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  padding: 2px;
  align-content: center;
  align-items: center;
  align-self: center;
}
.ProfGitImg {
 border-radius: 10px;
  width: 55px;
  margin-left: 5%;
}
.WorkLinks {
  display: flex;
  gap: 10px;
  margin-right: 5%;
 }

@media (max-width: 850px) {
  .NavBar {
    display: flex;
  }

  .WorkLinks {
    margin-left: 0;
    transform: none;
    gap: 10px;
  }

  .ProfGitImg {
    width: 45px;
    height: 45px;
  }

  .Title {
    font-size: 16px;
  }

  .Icons {
    width: 25px;
    height: 25px;
  }
  .WorkIcons {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .NavBar {
    display: flex;
  }

  .WorkLinks {
    margin-left: 0;
    transform: none;
    gap: 16px;
  }
  .ProfGitImg {
    width: 35px;
    height: 35px;
  }

  .Title {
    font-size: 12px;
    width: 25%;
  }

  .Icons {
    width: 30px;
    height: 30px;
  }
  .WorkIcons {
    width: 30px;
    height: 30px;
  }
}
